*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161817;
    padding: 1rem;
}
nav ul{
    display: flex;
}

nav a{
    color: #f4f4f4;
}

nav li{
    margin-left: 1rem;
}
.nav-enlaces{
    display: flex;
}

nav .nav img {
    height: 40px;
    width: auto; 
}

header{
    height: 70vh;
    background-color: #333;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

header p{
    font-size: 1rem;
    margin-bottom: 2rem;
}

header a{
    background-color: rgb(54, 0, 54);
    color: #f4f4f4;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
}
header a:hover{
    background-color: #661ead;
    transition: 0.5s;
}

.destacados h2{
    text-align: center;
    margin-bottom: 2rem;
}

.productos-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.tarjeta-producto{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

.tarjeta-producto img{
    width: 100%;
}

.tarjeta-producto h3{
    margin: 2rem 0;
}

.tarjeta-producto p{
    font-weight: bold;
    font-size: 1.1rem;
}

.tarjeta-producto a{
    margin: 1rem 0;
    display: inline-block;
}

.categorias h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.categorias-contenedor{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.tarjeta-categoria{
    width: 300px;
    height: 200px;
    background-color: #eee;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #490fad;
}

footer{
   background-color: #161817; 
   color: #f4f4f4;
   padding: 2rem;
   margin-top: 3rem;
}

footer > div{
    display:flex;
    justify-content: space-between;
    gap: 3rem;
}

footer a{
    color: #f4f4f4;
}

footer p{
    text-align: center;
    margin-top: 2rem;
}

.menu-hamburguesa{
    display: none;
    cursor: pointer;
}

.menu-hamburguesa svg{
    width: 32px;
    height: 32px;
    stroke: #f4f4f4;
}

@media(max-width: 768px){
    .productos-contenedor{
        grid-template-columns: 1fr;
    }
    .nav-enlaces{
        display: none;
    }
    .menu-hamburguesa{
        display: block;
    }
    header h1 {
        font-size: 2rem; 
    }
    .categorias-contenedor {
        flex-direction: column;
        align-items: center;  
    }
}
