* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
main {
    flex: 1; 
    position: relative;
    z-index: 10;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  position: relative;
  top: 0;
  gap: 28px;
  z-index: 10;
  backdrop-filter: blur(4px);
  border-bottom: 3px solid #ffa500;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: #ffa500;
  font-size: 18px;
  transition: color 0.25s ease, text-shadow 0.25s ease;
}
nav a:hover {
  color: #9bce42;
  text-shadow: 0 0 8px rgba(155, 206, 66, 0.6);
}

nav li {
  margin-left: 1rem;
}
.nav-enlaces {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav-enlaces.activo {
  display: flex;
}
nav img {
  height: 40px;
  width: auto;
  display: block;
}

.carrusel {
  height: 70vh;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.carrusel-slides {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.activa {
  opacity: 1;
}

.slide-1,
.slide-2,
.slide-3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.descripcion{
  color: #f4f4f4;
}
.precio-producto{
  color: #f4f4f4;
}

.slide-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/Sección_Hámsters_Pequeñas_Constelaciones/Anillo_de_Saturno_Silent_Spin.png");
}

.slide-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/Sección_Perros_Canis_Major/Cable_Tether_Andrómeda.jpg");
}

.slide-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/Sección_Gatos_Felis_Minor/Bruma_Acuática_Aqua_Nova.png");
}

.carrusel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.carrusel-btn.prev {
  left: 1rem;
}

.carrusel-btn.next {
  right: 1rem;
}

.carrusel-dots {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.page {
  max-width: 1200px;
  margin: 26px auto;
  padding: 18px;
}

.hero {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  padding: 28px;
  text-align: center;
  border: 3px solid #ffa500;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.hero h1 {
  font-size: 28px;
  color: #ffffff;
}

.cat-title {
  font-size: 26px;
  text-align: center;
  color: #ffa500;
  margin-bottom: 20px;
  margin-top: 25px;
}

.card {
  width: 260px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  border: 3px solid #ffa500;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: transform 0.45s ease, box-shadow 0.45s ease;
  cursor: pointer;
  backdrop-filter: blur(4px);
  position: relative;
  z-index: 10;
}

.card:hover {
  transform: translateY(-12px) scale(1.08) rotateX(6deg) rotateY(-6deg);
  box-shadow: 0 10px 25px rgba(255, 165, 0, 0.6),
    0 0 20px rgba(155, 206, 66, 0.6), 0 0 28px rgba(77, 167, 212, 0.6);
}

.card .img {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meta {
  padding: 15px;
  text-align: center;
}

.nombre {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.precio {
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
  color: #9bce42;
}

.productos {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.titulo-productos {
  text-align: center;
  color: #f4f4f4;
  padding: 0.75rem;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #aaa;
  margin: 0 5px;
  cursor: pointer;
}

.dot.activo {
  background-color: #f4f4f4;
}

.enlace-carrusel {
  color: #f4f4f4;
}

.destacados h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.productos-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.tarjeta-producto {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
}

.tarjeta-producto img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.tarjeta-producto h3 {
  margin: 2rem 0;
}

.tarjeta-producto p {
  font-weight: bold;
  font-size: 1.1rem;
}

.tarjeta-producto a {
  margin: 1rem 0;
  display: inline-block;
}

.categorias h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.categorias-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 2rem;
}

.tarjeta-categoria {
  width: 300px;
  height: 200px;
  background:linear-gradient(to bottom,#490fad,#160434);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
}

footer {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 2px solid #ffa500;
  color: #f4f4f4;
  padding: 3rem 2rem;
  margin-top: 2rem;
  position: relative;
  z-index: 10;
}

footer > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
  transition: color 0.3s ease;
}
footer a:hover {
  color: #ffa500;
  text-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

footer p {
  text-align: center;
  margin-top: 2rem;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  margin-bottom: 10px;
}

.menu-hamburguesa {
  display: none;
  width: 30px;
  height: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #f4f4f4;
  position: relative;
  z-index: 1001;
}
.linea {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f4f4f4;
  position: absolute;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}
.linea:nth-child(1) {
  top: 0;
}
.linea:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.linea:nth-child(3) {
  bottom: 0;
}

.menu-hamburguesa.rotando svg {
  transform: rotate(360deg) scale(0.5);
  opacity: 0;
}

.pagina-productos {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 2rem;
  align-items: start;
}
.pagina-productos h3 {
  color: black;
}
.pagina-productos aside {
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 8px;
}
.pagina-productos li {
  color: black;
}
.contenedor-detalle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.detalle-imagen img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 14px;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid #ffa500;
}
.detalle-info{
  display: flex;
  flex-direction: column;
}

.detalle-info h1 {
  font-size: 2.5rem;
  color: #f4f4f4;
}
.precio {
  font-size: 1.5rem;
  color: #490fad;
  font-weight: bold;
}
.detalle-info p {
  line-height: 1.6;
}
.comprar {
  padding: 1rem 3rem;
  background-color: dimgray;
  color: #f4f4f4;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.fondo-espacial {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/fondo/espacio4.jpg");
  color: #f4f4f4;
  position: relative;
  display: flex;
  flex-direction: column;
}
.star {
  position: absolute;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: shine 500ms infinite alternate;
  z-index: 1;
}
.estrella-fugaz {
  position: absolute;
  top: 50px;
  left: -100px;
  width: 100px;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  border-radius: 50%;

  animation: fugaz 6s ease-in-out infinite;
}
.contenedor-carrito {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1200px;
  align-items: start;
  text-align: center;
}
.contenedor-carrito td{
  padding: 2rem;
}
.carrito-items table {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 15px;
  table-layout: fixed;
  border-bottom: 3px solid #490fad;
}
.carrito-items th:nth-child(1) {
  width: 45%;
}
.carrito-items th:nth-child(2) {
  width: 15%;
}
.carrito-items th:nth-child(3) {
  width: 15%;
}
.carrito-items th:nth-child(4) {
  width: 15%;
}
.carrito-items th:nth-child(5) {
  width: 10%;
}

.carrito-items th {
  background-color: #490fad;
  color: #f4f4f4;
  padding: 1rem;
  text-align: left;
}
.carrito-items td {
  color: #eee;
  padding: 1fr;
  vertical-align: middle;
  border-bottom: 2px lightgrey solid;
}
.carrito-items tbody tr {
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(5px); 
}
.item-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.item-info img {
  width: 60px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}
.carrito-resumen {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem;
  position: sticky;
  top: 2rem;
  color: #ffffff;
  z-index: 10;
  border-radius: 1rem;
}
.carrito-resumen h3 {
  margin-top: 0;
  color: #ffffff;
}
.resumen-fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.carrito-items input {
  width: 50px;
  padding: 5px;
  text-align: center;
}
.btn-checkout {
  border: none;
  background-color: #00d4ff;
  padding: 1rem 3rem;
  cursor: pointer;
  border-radius: 40px;
  margin-top: 1rem;
}
.btn-checkout:hover {
  background-color: #009ec3;
  color: #f4f4f4;
  transition: 500ms;
}
.resumen-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.contenedor-login {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
}
.contenedor-login input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 10px;
  border: lightskyblue;
}
.registro-link {
  margin-top: 1rem;
}
.registro-link a:hover{
  color: #f4f4f4;
  transition: 0.5s;
}

.formulario-login {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 14px;
  border-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  z-index: 10;
}
.texto-formulario {
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

@keyframes shine {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }

  50% {
    transform: scale(1.8);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0.3;
  }
}

@keyframes fugaz {
  0% {
    transform: translate(0, 0) rotate(45deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translate(400px, 400px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translate(400px, 400px) rotate(45deg);
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .productos {
    grid-template-columns: 1fr 1fr;
  }
  .nav-enlaces {
    display: none;
  }
  .menu-hamburguesa {
    display: block;
  }
  header h1 {
    font-size: 2rem;
  }
  .categorias-contenedor {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .pagina-productos {
    grid-template-columns: 1fr;
  }
  .contenedor-detalle {
    grid-template-columns: 1fr;
  }
  .contenedor-carrito {
    grid-template-columns: 1fr;
  }
  .menu-hamburguesa.rotando .linea:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .menu-hamburguesa.rotando .linea:nth-child(2) {
    opacity: 0;
  }
  .menu-hamburguesa.rotando .linea:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
}
