*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161817;
    padding: 1rem;
}
nav ul{
    display: flex;
}

nav a{
    color: #f4f4f4;
}

nav li{
    margin-left: 1rem;
}
.nav-enlaces{
    display: flex;
}

nav .nav img {
    height: 40px;
    width: auto; 
}

.carrusel {
    height: 70vh;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; 
    overflow: hidden;  
}

.carrusel-slides {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.activa {
    opacity: 1; 
}

.slide-1, .slide-2, .slide-3 {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.slide-1 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/Sección_Hámsters_Pequeñas_Constelaciones/Anillo_de_Saturno_Silent_Spin.png');
}

.slide-2 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/Sección_Perros_Canis_Major/Cable_Tether_Andrómeda.jpg');
}

.slide-3 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/Sección_Gatos_Felis_Minor/Bruma_Acuática_Aqua_Nova.png'); 
}

.carrusel-btn {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10; 
}

.carrusel-btn.prev {
    left: 1rem; 
}

.carrusel-btn.next {
    right: 1rem; 
}


.carrusel-dots {
    position: absolute;
    bottom: 1.5rem; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #aaa;
    margin: 0 5px;
    cursor: pointer;
}

.dot.activo {
    background-color: #f4f4f4;
}
.destacados h2{
    text-align: center;
    margin-bottom: 2rem;
}

.productos-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.tarjeta-producto{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

.tarjeta-producto img{
    width: 100%;
}

.tarjeta-producto h3{
    margin: 2rem 0;
}

.tarjeta-producto p{
    font-weight: bold;
    font-size: 1.1rem;
}

.tarjeta-producto a{
    margin: 1rem 0;
    display: inline-block;
}

.categorias h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.categorias-contenedor{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.tarjeta-categoria{
    width: 300px;
    height: 200px;
    background-color: #eee;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #490fad;
}

footer{
   background-color: #161817; 
   color: #f4f4f4;
   padding: 2rem;
   margin-top: 3rem;
}

footer > div{
    display:flex;
    justify-content: space-between;
    gap: 3rem;
}

footer a{
    color: #f4f4f4;
}

footer p{
    text-align: center;
    margin-top: 2rem;
}

.menu-hamburguesa{
    display: none;
    cursor: pointer;
}

.menu-hamburguesa svg{
    width: 32px;
    height: 32px;
    stroke: #f4f4f4;
}

@media(max-width: 768px){
    .productos-contenedor{
        grid-template-columns: 1fr;
    }
    .nav-enlaces{
        display: none;
    }
    .menu-hamburguesa{
        display: block;
    }
    header h1 {
        font-size: 2rem; 
    }
    .categorias-contenedor {
        flex-direction: column;
        align-items: center;  
    }
}
