*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161817;
    padding: 1rem;
}
nav ul{
    display: flex;
}

nav a{
    color: #f4f4f4;
}

nav li{
    margin-left: 1rem;
}
.nav-enlaces{
    display: flex;
}

.nav-logo{
    width: 1rem;
    height: 1rem;
    padding: 1;
}

nav img{
    display: flex;  
    height: 6rem;
}


header{
    height: 70vh;
    background-color: #333;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

header p{
    font-size: 1rem;
    margin-bottom: 2rem;
}

header a{
    background-color: rgb(54, 0, 54);
    color: #f4f4f4;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
}
header a:hover{
    background-color: #661ead;
    transition: 0.5s;
}

.destacados h2{
    text-align: center;
    margin-bottom: 2rem;
}

.productos-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.tarjeta-producto{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

.tarjeta-producto img{
    width: 100%;
}
.tarjeta-producto h3{
    margin: 3rem 0;
}
.tarjeta-producto p{
    font-weight: bold;
}


